{
  "meta": {
    "name": "console-config",
    "version": "0.9.1"
  },
  "settings": {
    "theme": {
      "css": "http://cdn.alvine.io/console/0.9.0/theme/spring/css/spring.min.css"
    },
    "keybinding": {
      "s": "#settings",
      "t": "/example.html",
      "e": "//example.com/"
    }
  },
  "module": [
    {
      "component": "Alvine.Package.UI.Navigation.Main",
      "location": "//cdn.alvine.io/console/latest/alvine/package/ui/navigation/main.min.html"
    },
    {
      "component": "Alvine.Package.UI.Navigation.Tools",
      "location": "//cdn.alvine.io/console/latest/alvine/package/ui/navigation/tools.min.html"
    },
    {
      "component": "Alvine.Package.UI.Navigation.User",
      "location": "//cdn.alvine.io/console/latest/alvine/package/ui/navigation/user.min.html"
    },
    {
      "component": "Alvine.Package.UI.Navigation.Notifications",
      "location": "//cdn.alvine.io/console/latest/alvine/package/ui/navigation/notifications.min.html"
    },
    {
      "component": "Alvine.Package.UI.Keyboard.Binding",
      "location": "//cdn.alvine.io/console/latest/alvine/package/ui/keyboard/binding.min.html"
    }
  ],
  "navigation": {
    "onload": "example",
    "main": {
      "menu": [
        {
          "favourites": {
            "label": "i18n:favourites",
            "id": "favourites",
            "icon": "fa fa-folder-o",
            "menu": {},
            "tag": {
              "label": "i18n:new",
              "class": "tag-danger"
            }
          }
        }
      ]
    },
    "tools": {
      "menu": [],
      "label": "i18n:settings",
      "icon": "fa fa-cog",
      "url": "#settings"
    },
    "menu": [
      {},
      {
        "label": "i18n:logout",
        "icon": "fa fa-power-off",
        "url": "/logout"
      },
      {
        "label": "i18n:top",
        "icon": "fa fa-arrow-up",
        "url": "#",
        "class": "\"back-to-top\"",
        "": {}
      }
    ],
    "user": {
      "menu": {}
    },
    "notifications": {
      "menu": {}
    }
  },
  "components": {
    "component": [
      {
        "module": {
          "prototype": "Alvine.Package.UI.Content.Iframe",
          "location": "//cdn.alvine.io/console/latest/alvine/package/ui/content/iframe.min.html"
        },
        "arguments": {
          "permissions": "allow-same-origin allow-scripts allow-popups allow-forms",
          "url": "http://example.com",
          "frame": {
            "class": "embed-responsive-item",
            "container-class": "embed-responsive embed-responsive-1by1"
          }
        },
        "handler": "example",
        "keybinding": "e",
        "navigation": {
          "label": "i18n:example",
          "mountpoint": "main.menu.favourites"
        }
      }
    ]
  }
}
